<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .separador {
            margin-top: 50px;
            margin-bottom: 50px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row " style="background-color:black">

            <div class="col-md-4" style="color: white">
                <h3> Pokemón </h3>
            </div>

            <div class="col-md-4" style="text-align:center">
                <span style="color: white; font-size: 18pt ; align-content: center">
                    <%= usuario%>
                </span>
            </div>

            <div class="col-md-4" style="text-align:right">
                <a href="http://localhost:3000/examen/login">
                    <button type="submit" class="btn btn-danger">Salir</button>
                </a>
                </form>
            </div>
        </div>
        <div class="separador"></div>
        <div class="col-sm-12">
            <form action="/examen/entrenador/gestion/buscar/<%=idPadre%>" class="form-horizontal" method="post">
                <div class="form-group row">
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="busquedaId" placeholder="Busqueda" name="busqueda">
                    </div>

                    <div class="col-sm-2 text-right"><button type="submit"
                            class="btn btn-sm btn-primary">buscar</button>
                    </div>
                    <div class="col-sm-2">

                        <a href="http://localhost:3000/examen/entrenador/gestion/crear/<%=idPadre%>">
                            <button type="button" class="btn btn-sm btn-primary">Crear</button>
                        </a>

                    </div>
                </div>

            </form>
        </div>

        <div class="row text-center">
            <div class="col-sm-12">
                <table class="table table-md table-hover table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID Pokemon</th>
                            <th>Nombre Pokemon</th>
                            <th>Poder Uno</th>
                            <th>Poder Dos</th>
                            <th>Fecha de Captura</th>
                            <th>Nivel</th>
                            <th>--</th>
                        </tr>
                    </thead>

                    <tbody>

                        <% listaPokemon.forEach((pokemon)=>{ %>
                        <tr>
                            <td><%= pokemon.idPokemon %></td>
                            <td><%= pokemon.nombrePokemon %></td>
                            <td><%= pokemon.poderEspecialUno %></td>
                            <td><%= pokemon.poderEspecialDos %></td>
                            <td><%= pokemon.fechaCaptura %></td>
                            <td><%= pokemon.nivel%> </td>
                            <td>
                                <form action="/examen/entrenador/gestion/eliminar/<%=idPadre%>" method="post">
                                    <input type="text" name="idPokemon" hidden value="<%=pokemon.idPokemon%> ">
                                    <button type="submit" class="btn btn-xs btn-info">Borrar</button>
                                </form>
                            </td>
                        </tr>
                        <% })%>
                    </tbody>
                </table>

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="http://localhost:3000/examen/lista" class="btn btn-sm btn-primary"
                        role="button">Atras</a>
                </div>
            </div>

        </div>
    </div>

</body>

</html>